<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-49202305-1</string>
	<key>CLIENT_ID</key>
	<string>431775871080-5b4di4lesm91t2lbs6i2deqfcctjcp7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431775871080-5b4di4lesm91t2lbs6i2deqfcctjcp7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>431775871080-770qb1fmfs6f255ttnvr1fjqktt34png.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDELLdAMIHz5H_Roq2qE_m74_daitX3dLY</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seoulmate.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
</dict>
</plist>